@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,700;1,200&display=swap");

:root {
  --main-div-bg: rgb(92, 145, 174);
  --main-div-lg: linear-gradient(
    90deg,
    rgba(92, 145, 174, 1) 0%,
    rgba(47, 123, 140, 1) 41%,
    rgba(47, 123, 140, 1) 65%
  );
  --center-div-bg: rgb(223, 226, 131);
  --heading-color: rgb(195, 204, 172);
  --heading-bg: rgb(10, 70, 50);
  --input-color: rgb(20, 98, 138);
  --placeholder-color: rgb(18, 115, 163);
  --add-button-bg: rgb(18, 115, 163);
  --add-button-shadow: rgb(29, 109, 149);
  --listitem-color: rgb(20, 98, 138);
  --delete-button: rgb(18, 115, 163);

  --delete-button-shadow: rgb(29, 109, 149);
  --del-add-button: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Crimson Pro', serif; */

html {
  font-size: 62.5%;
}
body {
  font-family: "Crimson Pro", serif;
}

.main_div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-div-bg);
  background: var(--main-div-lg);
}
.center_div {
  width: 30rem;
  border: 1px solid rgb(55, 78, 91);
  background: var(--center-div-bg);
  height: 75vh;
  box-shadow: 0 0 8px 0px rgb(45, 76, 93);
}

.center_div h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--heading-color);
  background-color: var(--heading-bg);
  font-family: "Crimson Pro", serif;
  font-style: italic;
  letter-spacing: 1.1px;
  padding: 0.5rem 0;
}
.center_div input {
  margin: 1.5rem 1rem 0 2rem;
  padding-left: 2rem;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(18, 115, 163);
  background: var(--center-div-bg);
  /* color: rgb(8, 45, 64); */
  color: var(--input-color);
  font-size: 2rem;
  font-family: "Crimson Pro", serif;
  font-weight: 500;
}

::placeholder {
  color: var(--placeholder-color);
  text-align: center;
}
.center_div button {
  color: var(--del-add-button);
  background: var(--add-button-bg);
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0 2px 3px var(--add-button-shadow);
}
.center_div button:hover {
  background: rgb(5, 194, 5);
  box-shadow: 0 0 2px 3px rgb(4, 123, 4);
  /* transform: scale(1.05); */
  width: 2.6rem;
  height: 2.6rem;
}

.center_div ol {
  margin-top: 2.2rem;
  margin-left: 4rem;
  font-size: 2.3rem;
  list-style: none;
  color: var(--listitem-color);
  font-weight: 500;
}
ol li span {
  text-align: center;
  vertical-align: middle;

  display: inline-block;
  position: relative;
  right: 3rem;
  color: var(--del-add-button);
  background: var(--delete-button);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0 2px 3px var(--delete-button-shadow);
}

ol li span:hover {
  background: rgb(166, 47, 26);
  box-shadow: 0 0 2px 3px rgb(123, 48, 4);
  /* transform: scale(1.05); */
}
